'scopeName': 'source.krl'
'name': 'KRL'
'fileTypes': [
  'src'
  'dat'
  'sub'
]

'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#string'
  }
  {
    'include': '#function'
  }
  {
    'include': '#interrupt'
  }
  {
    'include': '#trigger'
  }
  {
    'include': '#storage'
  }
  {
    'include': '#constant'
  }
  {
    'include': '#keyword'
  }
  {
    #'include': '#function-calls'
  }
]

'repository':
  'comment':
    'patterns': [
      {
        'match': ';.*$'
        'name': 'comment.line.character.krl'
      }
      {
        'match': '&.*$'
        'name': 'comment.line.character.krl'
      }
    ]

  'function':
    'patterns': [
      {
        'begin': '(?i)^\\s*(GLOBAL\\s+)?(DEFFCT)\\s+([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})\\s+([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})(.*)'
        'beginCaptures':
          '1':
            'name': 'storage.modifier.krl'
          '2':
            'name': 'storage.tpye.function.krl'
          '3':
            'name': 'storage.type.krl'
          '4':
            'name': 'entity.name.function.krl'
          '5':
            'patterns' : [
              {
                'include': '#variable.parameter'
              }
              {
                'include': '#keyword'
              }
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)^\\s*(ENDFCT)\\s+(;.*)?$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.krl'
          '2':
            'patterns' : [
                'include' : '#comment'
            ]
        'patterns': [
          'include': '$self'
        ]
        'name': 'meta.function.krl'
      }
      {
        'match': '(?i)^\\s*(EXTFCT)\\s+([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})\\s+([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})(.*)'
        'captures':
          '1':
            'name': 'storage.tpye.function.krl'
          '2':
            'name': 'storage.type.krl'
          '3':
            'name': 'entity.name.function.krl'
          '4':
            'patterns': [
              {
                'include': '#variable.parameter'
              }
              {
                'include': '#keyword'
              }
              {
                'include': '#comment'
              }
            ]
          'name': 'meta.function.krl'
      }
      {
        'begin': '(?i)^\\s*(GLOBAL\\s+)?(DEF)\\s+([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})(.*)'
        'beginCaptures':
          '1':
            'name': 'storage.modifier.krl'
          '2':
            'name': 'storage.tpye.function.krl'
          '3':
            'name': 'entity.name.function.krl'
          '4':
            'patterns': [
              {
                'include': '#variable.parameter'
              }
              {
                'include': '#keyword'
              }
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)^\\s*(END)\\s*(;.*)?$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.krl'
          '2':
            'patterns' : [
                'include' : '#comment'
            ]
        'patterns': [
          'include': '$self'
        ]
        'name': 'meta.function.krl'
      }
      {
        'begin': '(?i)^\\s*(DEFDAT)\\s+([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})(\\s+PUBLIC)?(.*)'
        'beginCaptures':
          '1':
            'name': 'storage.tpye.function.krl'
          '2':
            'name': 'entity.name.function.krl'
          '3':
            'name': 'storage.modifier.krl'
          '4':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)^\\s*(ENDDAT)\\s*(;.*)?$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.krl'
          '2':
            'patterns' : [
                'include' : '#comment'
            ]
        'patterns': [
          'include': '$self'
        ]
        'name': 'meta.function.krl'
      }
    ]

  'function-calls':
    'patterns': [
      {
        'match': '([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})\\s*(\\()(.*)(\\))'
        'captures':
          '1':
            'name': 'entity.name.function.krl'
          '2':
            'name': 'keyword.operator.krl'
          '3':
            'patterns': [
              {
                'include': '#variable.parameter'
              }
            ]
          '4':
            'name': 'keyword.operator.krl'
      }
    ]

  'interrupt':
    'patterns': [
      {
        'match': '(?i)^\\s*(GLOBAL\\s+)?(INTERRUPT)\\s+(DECL)\\s+([0-9]+)\\s+(WHEN)\\s+(.*)\\s+(DO)\\s+(.*)$'
        'captures':
          '1':
            'name': 'storage.modifier.krl'
          '2':
            'name': 'storage.type.interrupt.krl'
          '3':
            'name': 'storage.type.interrupt.krl'
          '4':
            'name': 'constant.numeric.krl'
          '5':
            'name': 'storage.type.krl'
          '6':
            'patterns': [
              {
                'include': '$self'
              }
            ]
          '7':
            'name': 'storage.type.interrupt.krl'
          '8':
            'patterns': [
              {
                'include': '$self'
              }
            ]
        'name': 'meta.interrupt.krl'
      }
      {
        'match': '(?i)^\\s*(INTERRUPT)\\s+(ON|OFF|DISABLE|ENABLE)\\s+([0-9]+)'
        'captures':
          '1':
            'name': 'storage.type.interrupt.krl'
          '2':
            'name': 'keyword.control.krl'
          '3':
            'name': 'constant.numeric.krl'
        'name': 'meta.interrupt.krl'
      }
    ]

  'trigger':
    'patterns': [
      {
        'match': '(?i)^\\s*(TRIGGER)\\s+(WHEN)\\s+(DISTANCE)(\\=)(0|1)\\s+(DELAY)(\\=)([-+]?[0-9]*\\.?[0-9])\\s+(DO)(.*)'
        'captures':
          '1':
            'name': 'storage.type.trigger.krl'
          '2':
            'name': 'storage.type.trigger.krl'
          '3':
            'name': 'keyword.control.krl'
          '4':
            'name': 'keyword.operator.krl'
          '5':
            'name': 'constant.numeric.krl'
          '6':
            'name': 'keyword.control.krl'
          '7':
            'name': 'keyword.operator.krl'
          '8':
            'name': 'constant.numeric.krl'
          '9':
            'name': 'keyword.control.krl'
          '10':
            'patterns': [
              {
                'include': '#trigger-action'
              }
            ]
        'name': 'meta.trigger.krl'
      }
      {
        'match': '(?i)^\\s*(TRIGGER)\\s+(WHEN)\\s+(PATH)(\\=)([-+]?[0-9]*\\.?[0-9])\\s+(DELAY)(\\=)([-+]?[0-9]*\\.?[0-9])\\s+(DO)(.*)'
        'captures':
          '1':
            'name': 'storage.type.trigger.krl'
          '2':
            'name': 'storage.type.trigger.krl'
          '3':
            'name': 'keyword.control.krl'
          '4':
            'name': 'keyword.operator.krl'
          '5':
            'name': 'constant.numeric.krl'
          '6':
            'name': 'keyword.control.krl'
          '7':
            'name': 'keyword.operator.krl'
          '8':
            'name': 'constant.numeric.krl'
          '9':
            'name': 'keyword.control.krl'
          '10':
            'patterns': [
              {
                'include': '#trigger-action'
              }
            ]
        'name': 'meta.trigger.krl'
      }
    ]

  'trigger-action':
    'patterns': [
      {
        'match': '(?i)(.*)(PRIO)(\\=)([-+]?[0-9]*\\.?[0-9])(.*)'
        'captures':
          '1':
            'patterns': [
              {
                'include': '$self'
              }
            ]
          '2':
            'name': 'keyword.control.krl'
          '3':
            'name': 'keyword.operator.krl'
          '4':
            'name': 'constant.numeric.krl'
          '5':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
      }
    ]

  'string':
    'patterns': [
      {
        'begin': '\"'
        'end': '\"'
        'name': 'string.quoted.double.krl'
      }
    ]

  'constant':
    'patterns': [
      {
        'match': '(?i)\\b(TRUE|FALSE)\\b'
        'name': 'constant.language.krl'
      }
      {
        'match': '\\b([0-9]+(\\.[0-9]+)?)\\b'
        'name': 'constant.numeric.krl'
      }
      {
        'match': '#[A-Za-z_\\$][A-Za-z0-9_\\$]{0,23}\\b'
        'name': 'constant.other.krl'
      }
    ]

  'storage':
    'patterns': [
      {
        'match': '(?i)\\s*\\b(GLOBAL\\b)?\\s*(ENUM|STRUC)\\b\\s*([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})\\b\\s*(.*)$'
        'captures':
          '1':
            'name': 'storage.modifier.krl'
          '2':
            'name': 'storage.modifier.krl'
          '3':
            'name': 'entity.name.type.krl'
          '4':
            'patterns' : [
              'include' : '$self'
            ]
      }
      {
        'match': '(?i)^\\s*\\b(DECL GLOBAL|DECL|GLOBAL){1}\\b\\s*([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})\\s*(.*)$'
        'captures':
          '1':
            'name': 'storage.modifier.krl'
          '2':
            'name': 'storage.type.krl'
          '3':
            'patterns': [
              {
                'include': '#variable'
              }
            ]
      }
      {
        'match': '(?i)\\b(INT|REAL|BOOL|CHAR|AXIS|E6AXIS|FRAME|POS|E6POS|ENUM|STRUC)\\b'
        'name': 'storage.type.krl'
      }
      {
        'match': '(?i)\\b(CONST|GLOBAL|DECL|DEFFCT|EXTFCT)\\b'
        'name': 'storage.modifier.krl'
      }
    ]

  'keyword':
    'patterns': [
      {
        'match': '(?i)\\b(CONTINUE|EXIT|FOR|TO|STEP|ENDFOR|GOTO|HALT|IF|THEN|ELSE|ENDIF|LOOP|ENDLOOP|REPEAT|UNTIL|SWITCH|CASE|DEFAULT|ENDSWITCH|WAIT\\s*(FOR|SEC)|WHILE|ENDWHILE|RETURN|BRAKE|RESUME)\\b'
        'name': 'keyword.control.krl'
      }
      {
        'match': '(?i)(\\b(B_)?(AND|OR|EXOR)\\b)|(\\.|,|\\+|-|\\*|\\/|:|(?<!=)={1,2}|<>|<|>|<=|>=|\\(|\\))'
        'name': 'keyword.operator.krl'
      }
      {
        'match': '(?i)\\b(PTP|PTP_REL)\\b\\s*[A-Za-z_\\$][A-Za-z0-9_\\$]{0,23}(\\s*$|\\sC_PTP(\\s*$|\\s*(C_DIS|C_ORI|C_VEL)))\\s*'
        'captures':
          '1':
            'name': 'storage.modifier.krl'
          '3':
            'name': 'storage.modifier.krl'
      }
      {
        'match': '(?i)\\b(LIN|LIN_REL)\\b\\s*[A-Za-z_\\$][A-Za-z0-9_\\$]{0,23}(\\s*$|\\s*(C_DIS|C_ORI|C_VEL))\\s*'
        'captures':
          '1':
            'name': 'storage.modifier.krl'
          '3':
            'name': 'storage.modifier.krl'
      }
    ]

  'variable.parameter':
    'patterns': [
      {
        'match': '(?i)([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})(\\[,*\\])?(:IN|:OUT)'
        'captures':
          '1':
            'name': 'variable.paramter.function.krl'
          '2':
            'patterns': [
              {
                'include': '#keywords'
              }
            ]
          '3':
            'name': 'storage.modifier.krl'
      }
    ]

  'variable.other':
    'patterns': [
      {
        'match': '([A-Za-z_\\$][A-Za-z0-9_\\$]{0,23})*'
        'name': 'variable.other.krl'
      }
    ]
