'.source.krl':
  'editor':
    'autoIndentOnPaste': true
    'softTabs': true
    'tabLength': 2
    'preferredLineLength': 52
    'commentStart': ';'
    'increaseIndentPattern': '(?i)^(\\s*|\\b)(FOR|IF\\b.*THEN|ELSE|LOOP|REPEAT|SWITCH|WHILE|CASE|DEFAULT)\\b\\s*(;.*)?$'
    'decreaseIndentPattern': '(?i)^(\\s*|\\b)(END(FOR|IF|LOOP|REPEAT|SWITCH|WHILE|FCT)?|ELSE|UNTIL|CASE|DEFAULT)\\b\\s*(;.*)?$'
